<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Charts#index</h1>
<p>Find me in app/views/charts/index.html.erb</p>
<%= line_chart @data, discrete:true,library: {vAxis: {
    gridlines: {
        color: 'transparent'
    }
}} %>
