// Place all the styles related to the analysis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#readiness-analysis{
	float:left;
	margin: 5px;
	width: 97%;
	height:350px;
	padding: 10px;
	border:solid 1px #D8D8D8;
	border-radius:5px;
	background-color: #FAFAFA;
}

#attribute-analysis{
	float:left;
	margin: 5px;
	width: 97%;
	height:350px;
	padding: 10px;
	border:solid 1px #D8D8D8;
	border-radius:5px;
	background-color: #FAFAFA;
}

#bottlenec-analysis{
	float:left;
	margin: 5px;
	width: 97%;
	height:350px;
	padding: 10px;
	border:solid 1px #D8D8D8;
	border-radius:5px;
	background-color: #FAFAFA;
}
