/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#header{
	margin-top:-8px;
	width: 1100px;
	height: 90px;
	margin-left:auto;
  	margin-right: auto;
  	background: #FBFBFB;
  	border-bottom:1px solid #1E75B3;
  	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.52);

}


#content{
	width: 1100px;
	margin-top: 20px;
	margin-left:auto;
  	margin-right: auto;
  	background: #FAFAFA;
  	
}

#content-view{
	width: 1100px;
	margin-left:auto;
	margin-right:auto;
	background: #FAFAFA;
  	
}

#title{
	padding-top: 15px;
	width: 370px;
	height:40px;
	color: #1E75B3;
	font:italic bold 35px Georgia, serif;
	margin-left: 20px;
	border-bottom:1px solid #1E75B3;
	
}
#sub-title{
	padding-top: 2px;
	width: 370px;
	font:italic normal 12px Georgia, serif;
	margin-left: 20px;
	
	
}