// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#readiness-over-time{
	float:left;
	margin:5px;
	padding: 10px;
	margin-right:0px;
	width: 60%;
	height:250px;
	border:solid 1px #D8D8D8;
	border-radius:5px;
	background-color: #FAFAFA;

}

#weight-distribution{
	float:left;
	margin:5px;
	padding: 10px;
	margin-right:0px;
	width: 33%;
	height:250px;
	border:solid 1px #D8D8D8;
	border-radius:5px;
	background-color: #FAFAFA;
	overflow: auto;          
}

#attributes-satisfaction-lavel{
	float:left;
	margin: 5px;
	width: 60%;
	height:250px;
	padding: 10px;
	border:solid 1px #D8D8D8;
	border-radius:5px;
	background-color: #FAFAFA;
}

#attributes-satisfaction-over-time{
	float:left;
	margin: 5px;
	width: 60%;
	height:200px;
	padding: 10px;
	border:solid 1px #D8D8D8;
	border-radius:5px;
	background-color: #FAFAFA;
}


.db-table{
	width: 100%;
	border:solid 1px #D8D8D8;
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #585858;
}

.db-table th{
	border:solid 1px #D8D8D8;
}

.db-table tr{
	border:solid 1px #D8D8D8;
}

.db-table td{
	border:solid 1px #D8D8D8;
	padding-left: 5px;
}
