// Place all the styles related to the mfunctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mf-div{
	float:left;
	height:500px;
	width: 48%;
	border-right:1px solid red;
}

#shape-div{
	float:left;
	height:500px;
	width: 50%;
}
#selected-mf{
	
	height:150px;
	margin-left:50px;
	margin-right:10px;
	width: 70%;
	background-color: #D8D8D8;

}

.available-shape-div{
	float:left;
	width: 44%;
	height: 45%;
	margin:10px;
	border:1px solid green;
	background-color: #D8D8D8;
}
