
#vertmenu {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
width:99.9%;
padding: 0px;
margin: 0px;

}

#vertmenu h1 {
	display: block; 
	background-color:#F2F2F2;
	font-size: 90%; 
	padding: 3px 0 5px 0px;
	border-bottom: 1px solid #1E75B3;
	color: #1E75B3;
	margin-top: 5px;
	width:99.9%;
	text-align: center;
}

#vertmenu ul {
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}
#vertmenu ul li {
margin: 0px;
padding: 0px;
}
#vertmenu ul li a {
	height: 25px;
	font-size: 80%;
	display: block;
	//border-bottom: 1px dashed #C39C4E;
	border-bottom: 1px solid #1E75B3;
	padding: 5px 0px 2px 0px;
	text-decoration: none;
	color: #666666;
	width:99.9%;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #FCFAF2;;
}

