// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#settings-header{
	width: 100%;
	border-bottom:2px solid #D8D8D8;
	margin-bottom: 10px;
}

#settings-container{

	width: 100%;
	overflow: hidden;
}

.individual-settings-container{

	width: 100%;
	overflow: hidden;
	border-bottom:1px solid #D8D8D8;

}

.individual-settings-container:hover{

	background-color: #FCFAF2;

}

.green{
	float:left;
	width:60px;
	height: 20px;
	margin-top:15px;
	margin-bottom:auto;
	background-color:green;
	border:1px solid #D8D8D8;
}

.red{
	float:left;
	width:60px;
	height: 20px;
	margin-top:15px;
	margin-bottom:auto;
	background-color:red;
	border:1px solid #D8D8D8;

}

.settings-title{

	width: 20%;
	float:left;
	font-size: 15px;
	font-weight: bold;
	padding-left: 10px;
	
}

.settings-desc{

	width:56%;
	float:left;
	padding-left: 10px;
}
.status{

	width:10%;
	float:left;
	text-align: center;
}

.settings-edit{

	width:10%;
	float:left;
	text-align: center;
}

.edit-panel{
	margin-left: auto;
	margin-right: auto;

}
