
<% if flash[:notice] %>
  		<div class = "success_message ">
	         <h2><%=flash[:notice] %></h2>
	     </div>
<% end%>
<%#=@metric.metric.name%>

<%#=@metric.mfunction.name%>

<%#=@metric.mfunction.parameter%>

<%#=@pid%>
<%#=@mid%>




